@import url("https://fonts.googleapis.com/css?family=Raleway");
.contain {
  background-color: mediumseagreen;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
}

.card {
  align-self: center;
  background-color: white;
  padding: 50px;
  border-radius: 5px;
  font-family: Raleway;
  width: 40vw;
  color: mediumseagreen;
}

.author {
  text-align: end;
}

.btn.button2 {
  font-family: Verdana;
  color: white;
  background-color: mediumseagreen;
}

.btn.button2:hover {
  color: white;
  background-color: #5ad18f;
}

.btn.button1 {
  font-family: Verdana;
  color: white;
  background-color: mediumseagreen;
}

.btn.button1:hover {
  color: white;
  background-color: #5ad18f;
}

.footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
